<div class="footer">
      <div class="info-footer ">
          <div class="linked">
           <h3><img src="https://livedemo00.template-help.com/wt_60033/images/logo-dark.png" /></h3>
            <p>BusExpress is the leading go-to website for booking inter-city bus ticket online. Our booking system allows travelers to search and book bus tickets for over a hundred bus companies throughout the United States, Mexico, Canada and Europe.</p>
          </div>
          <div class="contact">
            <h4>Liên hệ chúng tôi</h4>          
            <p> <i class="fas fa-phone fa-1x fill"></i>190015789</p>
            <p> <i class="fas fa-envelope fa-1x fill"></i>shinminah357159@gmail.com</p>
            <p> <i class="fas fa-map-marked-alt fa-1x fill"></i>8C Chữ Đồng Tử, P7, Q.Tân Bình, TP HCM,VN</p>

            
            

          </div>
          <div class="license">
            <h4>Chứng chỉ</h4>
            <p>Bến xe Miền Đông</p>
            <p>Bến xe Miền Đông</p>
            <p>Bến xe Miền Đông</p>
            <p>Bến xe Miền Đông</p>

          </div>
      </div>
      

  </div>