<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Flatpickr CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">

    <!-- Some Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- My own CSS -->
    <link rel="stylesheet" type="text/css" href="/panel.css">
    <link rel="stylesheet" type="text/css" href="glider.css">

    <!-- Materialize Css -->
      <!-- ...       -->

     <script src="/owl.carousel.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
     <script src="https://unpkg.com/@glidejs/glide"></script>
    <!-- Import font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--  Flatpickr  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>

   <title>ticketMe| Trang chủ</title>
  </head>
  <body>
<div class="container">
    <% include ./partials/header %>
    <div class="poster-hiring">
    </div>
    <div class="job-description">
      <div class="big">Theo dõi chúng tôi</div>
      <div class="small">Để có thể trở thành tài xế của Bus Express</div>
    </div>

<!-- profile-content -->
<% include ./partials/footer %>
</div>
 </body>
<style>
  .poster-hiring{
    width: 100%;
    margin-left: 0px;
    height: 400px;
    margin-top: 50px;
    background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://livedemo00.template-help.com/wt_60033/images/backgrounds/background-04-1920x950.jpg");
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  }
  .control-panel .nav-bar ul,.control-panel .action ul{
  padding-top: 15px;
}
.job-description{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,0);
  color: white;

}
.big{
  font-size: 50px;
  font-family: 500px;
}
.small{
  font-size: 25px;
  margin-left: 50px;
}
</style>

</html>
