<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Flatpickr CSS-->
    <% include ./partials/links %>
    

   <title>BusExpress| Verified</title>
  </head>
  <body>
<div class="container">
    <% include ./partials/header %>
    <img class="img-verified" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2614a027236645.56361cc2c40e4.png" alt="">
    <p class="annoucement greeting">Chúc mừng ! Bạn đã đặt vé thành công</p>
    <p class="annoucement redirect">Hệ thống sẽ chuyển hướng trong 5 giây nữa</p>

</div>

  </body>
<style>
  .img-verified{
    width:300px;
    height: 200px;
    margin-top: 200px;
    margin-left: 50%;
    transform: translate(-50%,0);
  }
  .annoucement{
     text-align: center;
    font-size: 20px;
  }
  .greeting{
    color:green;
  }
  
</style>
<script>
  $(document).ready(function(){
    const redirect = document.querySelector('.redirect')
    let index = 5;
   const loop =  setInterval(function(){
      if(index < 0 ) return window.location='http://localhost:5000/home'
        redirect.textContent = `Hệ thống sẽ chuyển hướng trong ${index} giây`
        index --;


    },1000)

  })
</script>

</html>
